{% extends 'base.html.twig' %}
{% block title %} Nouvelle Table {% endblock %}
{% block body %}
<div style="padding:30px" >
    <p></p>
    <div class="form-group">
    {{ form(form) }}
    </div>
</div>
{% endblock %}