{% extends 'base.html.twig' %}

{% block title %}Welcome to {{table.name}}'s page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

Welcome to {{table.name}}'s page<br>
<a href="{{ path('updatemytable', {'id': table.id }) }}">Update</a><br>
<a href="{{ path('deletemytable', {'id': table.id }) }}">delete</a>

{% endblock %}