{% extends 'base.html.twig' %}

{% block title %}{{joueur.name}}{% endblock %}

{% block body %}
<div style="padding:30px" >
    <a class="btn btn-warning" href="{{ path('updatejoueur', {'id': joueur.id }) }}">Changer</a>  
    <a class="btn btn-danger" href="{{ path('deletejoueur', {'id': joueur.id }) }}">Supprimé</a>
</div>
{% endblock %}